<!DOCTYPE html>
<html lang="hy">

<head>
  <meta charset="UTF-8">
  <title>Ampere</title>
  <link rel="stylesheet" href="index.css">
  <script type="module" src="https://unpkg.com/@splinetool/viewer@1.9.47/build/spline-viewer.js"></script>
</head>

<body>
  <div class="header">
    <div class="menu">
      <div class="menu-left">
        <a href="courses" class="menu-item">Դասընթացներ</a>
        <a href="#programs" class="menu-item">Ծրագրեր</a>
        <a href="#3d" class="menu-item">3D շրջագայություն</a>
      </div>

      <div class="logo">
        <a href="#">
          <img src="../icons/ampere-removebg-preview.png" alt="Ampere Logo">
        </a>
      </div>

      <div class="menu-right">
        <a href="#donate" class="menu-item">Նվիրատվություն</a>
        <a href="#contact" class="menu-item">Կապ մեզ հետ</a>
        <a href="#about-us" class="menu-item">Մեր մասին</a>
      </div>
    </div>

    <div class="language-switcher">
      <a>AM</a> | <a>RU</a> | <a>EN</a>
    </div>
  </div>

  <div id="home" class="content">
    <div class="home-section1">
      <div class="home-section1-content">
        <h1>Հասնելով նոր բարձունքների Ampere-ի հետ</h1>
        <button class="cta-button">Գրանցվել հիմա</button>
      </div>
      <spline-viewer url="https://prod.spline.design/w6ruamLbhpf2f3yA/scene.splinecode"
        style="width: 100%; border-radius: 12px;">
      </spline-viewer>
    </div>
    <div class="home-section2">
      <div class="home-section2-content">
        <h1>Մեր մասին</h1>
        <h2>Բացեք ձեր ներուժը "Ampere"-ում</h2>
        <br>
        <div class="idea">
          <img src="../icons/idea.png" alt="Idea Icon">
          <h2>Գաղափարը</h2>
          <hr>
          <p>"Ampere"-ը՝ կրթության նախագծերի արհեստանոց է, որտեղ բոլորը, կարող են ծանոթանալ և սովորել անօդաչու ավիացիայի
            ոլորտին։ Մենք ձգտում ենք ստեղծել մի մթնոլորտ...</p>
        </div>
        <div class="modernity">
          <img src="../icons/transition.png" alt="Modernity Icon">
          <h2>Արդիականությունը</h2>
          <hr>
          <p>Անօդաչու ավիացիան ապագայի արդյունաբերությունն է, որը պահանջարկ ունի տարբեր ոլորտներում...</p>
        </div>
        <button class="cta-button read-more">Կարդալ ավելին</button>
      </div>
      <img src="../icons/drone.png" class="overlay-img img-left" alt="">
      <img src="../icons/drone(1).png" class="overlay-img img-right" alt="">
    </div>
    <div class="home-section3">
      <div class="home-section3-content">
        <div class="slider-container">
          <button class="slider-btn prev-btn">&#10094;</button>
          <div class="slider">
            <div class="slide slide-1">
              <h2>ԱԹՍ Օպերատորություն (14+)</h2>
              <p>6-ամսյա խորացված ուսումնական ծրագիր՝ նախատեսված
                պատանիների և երիտասարդների համար, ովքեր ցանկանում
                են դառնալ ԱԹՍ (դրոն) օպերատոր, ինժեներ կամ
                սպասարկման տեխնիկ։</p>
              <button class="cta-button slide1-btn drone-operator-button-from-home">Գրանցվել հիմա</button>
            </div>
            <div class="slide slide-2">
              <h2>Ռոբոտաշինություն
                (6-9 տարեկանների համար)</h2>
              <p>Այս կուրսը երեխաներին տալիս է հնարավորությունն իրենց
                ձեռքով կառուցել, ծրագրավորել և հասկանալ ռոբոտների
                աշխատանքը՝ խաղի միջոցով սովորելով լուրջ գիտելիքներ։</p>
              <button class="cta-button slide2-btn robotics-button-from-home">Գրանցվել հիմա</button>
            </div>
            <div class="slide slide-3">
              <h2>Arduino/ռոբոտաշինություն
                (10-13 տարեկանների համար)</h2>
              <p>7-ամսյա գործնական ուսումնական ճանապարհ դեպի
                տեխնոլոգիական ոլորտ։ Այս դասընթացը զարգացնում է տեխնիկական
                մտածողությունը, ինքնուրույնության զգացումը և պրակտիկ
                ստեղծարարությունը։</p>
              <button class="cta-button slide3-btn arduino-button-from-home">Գրանցվել հիմա</button>
            </div>
          </div>
          <button class="slider-btn next-btn">&#10095;</button>
        </div>

        <div class="indicator-container">
          <div class="indicator-line"></div>
          <div class="indicator-line"></div>
          <div class="indicator-line"></div>
        </div>
      </div>
      <img src="../icons/drone(2).png" class="overlay-img img-left" alt="">
      <img src="../icons/pilot.png" class="overlay-img img-right" alt="">
    </div>
  </div>

  <div id="courses" class="content hidden">
    <div class="courses-section1">
      <div class="courses-section1-content">
        <div class="drone-operator">
          <h2>ԱԹՍ Օպերատորություն (14+)</h2>
          <p>6-ամսյա խորացված ուսումնական ծրագիր՝ նախատեսված
            պատանիների և երիտասարդների համար, ովքեր ցանկանում
            են դառնալ ԱԹՍ (դրոն) օպերատոր, ինժեներ կամ
            սպասարկման տեխնիկ։</p>
          <button class="cta-button read-more drone-operator-button">Գրանցվել հիմա</button>
        </div>
        <div class="robotics">
          <h2>Ռոբոտաշինություն
            (6-9 տարեկանների համար)</h2>
          <p>Այս կուրսը երեխաներին տալիս է հնարավորությունն իրենց
            ձեռքով կառուցել, ծրագրավորել և հասկանալ ռոբոտների
            աշխատանքը՝ խաղի միջոցով սովորելով լուրջ գիտելիքներ։</p>
          <button class="cta-button read-more robotics-button">Գրանցվել հիմա</button>
        </div>
        <div class="arduino">
          <h2>Arduino/ռոբոտաշինություն
            (10-13 տարեկանների համար)</h2>
          <p>7-ամսյա գործնական ուսումնական ճանապարհ դեպի
            տեխնոլոգիական ոլորտ։ Այս դասընթացը զարգացնում է տեխնիկական
            մտածողությունը, ինքնուրույնության զգացումը և պրակտիկ
            ստեղծարարությունը։</p>
          <button class="cta-button read-more arduino-button">Գրանցվել հիմա</button>
        </div>
      </div>
    </div>
  </div>

  <div id="drone-operator" class="content hidden">
    <div class="drone-operator-section1">
      <div class="drone-operator-section1-content">
        <h1>ԱԹՍ օպերատորություն (14+)</h1>
        <p>6-ամսյա խորացված ուսումնական ծրագիր՝ նախատեսված
          պատանիների և երիտասարդների համար, ովքեր ցանկանում
          են դառնալ ԱԹՍ (դրոն) օպերատոր, ինժեներ կամ
          սպասարկման տեխնիկ։</p>
        <h2>Դասընթացի թեմաները՝</h2>
        <p>• Էլեկտրոնիկայի հիմունքներ <br>
          • ԱԹՍ-ի կառուցում, ծրագրավորում և ինժեներական
          աշխատանք <br>
          • Աերոդինամիկայի հիմունքներ <br>
          • Քարտեզագրություն և տեղագրություն <br>
          • 3D մոդելավորում և տպագրություն <br>
          • FPV դրոնի հավաքում <br>
          • Թռիչքային փորձ FPV դրոնով</p>
        <h2>Արդյունքում՝</h2>
        <p>• Հավաստագիր <br>
          • Լավագույն ուսանողները ստանում են պրակտիկայի և
          աշխատանքի հնարավորություն</p> <br>
        <p>Դասընթացը տևում է 6 ամիս, շաբաթական 3 անգամ, 2-ական
          ժամ։ Ամսավճարը կազմում է 30 000 դրամ։</p> <br>
      </div>
      <spline-viewer url="https://prod.spline.design/wCBn6Xe7dQNtTI0c/scene.splinecode"
        style="width: 100%; height: 600px; border-radius: 12px; margin-top: 550px;">
      </spline-viewer>
    </div>

    <div class="drone-operator-section2">
      <div class="drone-operator-section2-content">
        <h1>Զեղչային համակարգ</h1>
        <table class="discount-table">
          <thead>
            <tr>
              <th>Սոցիալական կարգավիճակ</th>
              <th>Պայմաններ</th>
              <th>Զեղչի չափ</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Բազմազավակ ընտանիք</td>
              <td>Ունեն ≥3 երեխա</td>
              <td>10 % 3-րդ երեխայից, + 5 % 4-րդից, + 5 % 5-րդից (մինչև 20 %)</td>
            </tr>
            <tr>
              <td>Սոցիալական աջակցության շահառու</td>
              <td>Հաստատված պետական աջակցություն</td>
              <td>25 %</td>
            </tr>
            <tr>
              <td>Նույն ընտանիքից 2 ուսանող</td>
              <td>Երկու երեխա սովորում են միաժամանակ</td>
              <td>-15 % յուրաքանչյուրից</td>
            </tr>
            <tr>
              <td>Միայնակ ծնող</td>
              <td>Միայնակ ծնող, ամուսնալուծված կարգավիճակով</td>
              <td>-20 %</td>
            </tr>
            <tr>
              <td>Արցախից տեղահանված</td>
              <td>Բնակության կարգավիճակ, փաստաթղթերով վհաստատված</td>
              <td>-30 %</td>
            </tr>
          </tbody>
        </table> <br>
        <p>Անհրաժեշտության հիման վրա տրվող զեղչերը (ԱՀ-ից
          տեղահանված, սոցիալական աջակցություն ստացող, միայնակ
          ծնող) չեն գումարվում միմյանց՝ կիրառվում է միշտ ամենամեծ
          հնարավոր զեղչը:</p>
        <p>Ընտանեկան զեղչերը (երկու երեխա, բազմազավակ ընտանիք)
          կարող են գումարվել անհրաժեշտության հիման վրա տրվող
          զեղչին՝ մինչև ընդհանուր առավելագույն սահմանը:
          Մի մասնակից կարող է ստանալ առավելագույնը 40 %
          ընդհանուր զեղչ:</p> <br>
        <p style="font-size: 20px; font-weight: bold;">*Օրինակ, Արցախից տեղահանված (30 %) + բազմազավակ ընտանիքի 3-րդ
          երեխա (10 %) = 40 %:</p>
        <p style="font-size: 20px; font-weight: bold;">Եթե մասնակիցը և՛ տեղահանված է, և՛ սոցիալական աջակցություն ստացող,
          ապա «ամենամեծ անհրաժեշտության զեղչը» կանոնի համաձայն հաշվի ենք առնում 30%-ը:</p>
      </div>
    </div>

    <div class="drone-operator-section3">
      <div class="drone-operator-section3-content">
        <div class="slideshow-container">

          <div class="mySlides fade">
            <div class="numbertext">1 / 11</div>
            <img src="../images/drone1.jpg" style="width:100%">
          </div>
          
          <div class="mySlides fade">
            <div class="numbertext">2 / 11</div>
            <img src="../images/drone2.jpg" style="width:100%">
          </div>
          
          <div class="mySlides fade">
            <div class="numbertext">3 / 11</div>
            <img src="../images/drone3.jpg" style="width:100%">
          </div>

          <div class="mySlides fade">
            <div class="numbertext">4 / 11</div>
            <img src="../images/drone4.jpg" style="width:100%">
          </div>
          
          <div class="mySlides fade">
            <div class="numbertext">5 / 11</div>
            <img src="../images/drone5.jpg" style="width:100%">
          </div>
          
          <div class="mySlides fade">
            <div class="numbertext">6 / 11</div>
            <img src="../images/drone6.jpg" style="width:100%">
          </div>

          <div class="mySlides fade">
            <div class="numbertext">7 / 11</div>
            <img src="../images/drone7.jpg" style="width:100%">
          </div>
          
          <div class="mySlides fade">
            <div class="numbertext">8 / 11</div>
            <img src="../images/drone8.jpg" style="width:100%">
          </div>
          
          <div class="mySlides fade">
            <div class="numbertext">9 / 11</div>
            <img src="../images/drone9.jpg" style="width:100%">
          </div>

          <div class="mySlides fade">
            <div class="numbertext">10 / 11</div>
            <img src="../images/drone10.jpg" style="width:100%">
          </div>
          
          <div class="mySlides fade">
            <div class="numbertext">11 / 11</div>
            <img src="../images/drone11.jpg" style="width:100%">
          </div>
          
          <a class="prev" onclick="plusSlides(-1)">❮</a>
          <a class="next" onclick="plusSlides(1)">❯</a>
          
          </div>
          <br>
          
          <div style="text-align:center">
            <span class="dot" onclick="currentSlide(1)"></span> 
            <span class="dot" onclick="currentSlide(2)"></span> 
            <span class="dot" onclick="currentSlide(3)"></span>
            <span class="dot" onclick="currentSlide(4)"></span>
            <span class="dot" onclick="currentSlide(5)"></span>
            <span class="dot" onclick="currentSlide(6)"></span>
            <span class="dot" onclick="currentSlide(7)"></span>
            <span class="dot" onclick="currentSlide(8)"></span>
            <span class="dot" onclick="currentSlide(9)"></span>
            <span class="dot" onclick="currentSlide(10)"></span>
            <span class="dot" onclick="currentSlide(11)"></span> 
          </div>
      </div>
    </div>
  </div>

  <div id="robotics" class="content hidden">
    <div class="robotics-section1">
      <div class="robotics-section1-content">
        <h1>Ռոբոտաշինություն (6-9 տարեկանների համար)</h1>
        <p><b>LEGO Spike Prime</b> դասընթացը՝ 4-ամսյա ինժեներական
          դասընթաց (շաբաթական 2 անգամ, 1 ժամ)։ Ամսավճարը
          կազմում է 25 000 դրամ։</p>
        <p>Այս կուրսը երեխաներին տալիս է հնարավորությունն իրենց
          ձեռքով կառուցել, ծրագրավորել և հասկանալ ռոբոտների
          աշխատանքը՝ խաղի միջոցով սովորելով լուրջ գիտելիքներ։</p>
        <h2>Ի՞նչ են սովորում՝</h2>
        <p>• Ծրագրավորման և ինժեներական մտածողության հիմունքներ <br>
          • Սենսորներ, շարժիչներ և կառուցման տրամաբանություն <br>
          • Թիմային աշխատանք, ստեղծարարություն և վերլուծական մտածողություն</p>
        <h2>Դասընթացի ավարտին՝</h2>
        <p>Երեխաներն ունեն իրենց կողմից ստեղծված ռոբոտ-նախագիծ, որն աշխատում է իրենց տրամաբանած ծրագրով։</p>
        <p>Սովորում են ոչ միայն "ինչ", այլև "ինչպես" մտածել տեխնոլոգիական աշխարհում։</p> <br>
      </div>
      <spline-viewer url="https://prod.spline.design/wCBn6Xe7dQNtTI0c/scene.splinecode"
        style="width: 100%; height: 600px; border-radius: 12px; margin-top: 550px;">
      </spline-viewer>
    </div>

    <div class="robotics-section2">
      <div class="robotics-section2-content">
        <h1>Զեղչային համակարգ</h1>
        <table class="discount-table">
          <thead>
            <tr>
              <th>Սոցիալական կարգավիճակ</th>
              <th>Պայմաններ</th>
              <th>Զեղչի չափ</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Բազմազավակ ընտանիք</td>
              <td>Ունեն ≥3 երեխա</td>
              <td>10 % 3-րդ երեխայից, + 5 % 4-րդից, + 5 % 5-րդից (մինչև 20 %)</td>
            </tr>
            <tr>
              <td>Սոցիալական աջակցության շահառու</td>
              <td>Հաստատված պետական աջակցություն</td>
              <td>25 %</td>
            </tr>
            <tr>
              <td>Նույն ընտանիքից 2 ուսանող</td>
              <td>Երկու երեխա սովորում են միաժամանակ</td>
              <td>-15 % յուրաքանչյուրից</td>
            </tr>
            <tr>
              <td>Միայնակ ծնող</td>
              <td>Միայնակ ծնող, ամուսնալուծված կարգավիճակով</td>
              <td>-20 %</td>
            </tr>
            <tr>
              <td>Արցախից տեղահանված</td>
              <td>Բնակության կարգավիճակ, փաստաթղթերով վհաստատված</td>
              <td>-30 %</td>
            </tr>
          </tbody>
        </table> <br>
        <p>Անհրաժեշտության հիման վրա տրվող զեղչերը (ԱՀ-ից
          տեղահանված, սոցիալական աջակցություն ստացող, միայնակ
          ծնող) չեն գումարվում միմյանց՝ կիրառվում է միշտ ամենամեծ
          հնարավոր զեղչը:</p>
        <p>Ընտանեկան զեղչերը (երկու երեխա, բազմազավակ ընտանիք)
          կարող են գումարվել անհրաժեշտության հիման վրա տրվող
          զեղչին՝ մինչև ընդհանուր առավելագույն սահմանը:
          Մի մասնակից կարող է ստանալ առավելագույնը 40 %
          ընդհանուր զեղչ:</p> <br>
        <p style="font-size: 20px; font-weight: bold;">*Օրինակ, Արցախից տեղահանված (30 %) + բազմազավակ ընտանիքի 3-րդ
          երեխա (10 %) = 40 %:</p>
        <p style="font-size: 20px; font-weight: bold;">Եթե մասնակիցը և՛ տեղահանված է, և՛ սոցիալական աջակցություն ստացող,
          ապա «ամենամեծ անհրաժեշտության զեղչը» կանոնի համաձայն հաշվի ենք առնում 30%-ը:</p>
      </div>
    </div>
  </div>

  <div id="arduino" class="content hidden">
    <div class="arduino-section1">
      <div class="arduino-section1-content">
        <h1>Arduino/ռոբոտաշինություն (10-13 տարեկանների համար)</h1>
        <p>7-ամսյա գործնական ուսումնական ճանապարհ դեպի տեխնոլոգիական ոլորտ։</p>
        <h2>Դասընթացը ներառում է՝</h2>
        <p>• Էլեկտրոնիկայի հիմունքներ՝ լարեր, ռեզիստորներ, սենսորներ <br>
          • Arduino-ի ծրագրավորում՝ որպես «ուղեղ» ինտելեկտուալ սարքերի համար <br>
          • Նախագծում և հավաքում՝ լույս, ձայն, շարժում՝ արձագանքող միջավայրին</p>
        <h2>Ինչու մասնակցել՝</h2>
        <p>Այս դասընթացը զարգացնում է տեխնիկական մտածողությունը, ինքնուրույնության զգացումը և պրակտիկ ստեղծարարությունը։
        </p>
        <p>Դասընթացը տևում է 7 ամիս, շաբաթական 2 անգամ, 1,5 ժամ։ Ամսավճարը կազմում է 25 000 դրամ։</p>
        <p>Աշակերտները դասըթնացի ավարտին ներկայացնում են
          իրենց սեփական լիարժեք աշխատող ռոբոտը կամ սարքը,
          և առավել կարևորն՝ ունենում են նոր՝ վստահ հայացք դեպի
          տեխնոլոգիան։</p> <br>
      </div>
      <spline-viewer url="https://prod.spline.design/wCBn6Xe7dQNtTI0c/scene.splinecode"
        style="width: 100%; height: 600px; border-radius: 12px; margin-top: 550px;">
      </spline-viewer>
    </div>

    <div class="arduino-section2">
      <div class="arduino-section2-content">
        <h1>Զեղչային համակարգ</h1>
        <table class="discount-table">
          <thead>
            <tr>
              <th>Սոցիալական կարգավիճակ</th>
              <th>Պայմաններ</th>
              <th>Զեղչի չափ</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Բազմազավակ ընտանիք</td>
              <td>Ունեն ≥3 երեխա</td>
              <td>10 % 3-րդ երեխայից, + 5 % 4-րդից, + 5 % 5-րդից (մինչև 20 %)</td>
            </tr>
            <tr>
              <td>Սոցիալական աջակցության շահառու</td>
              <td>Հաստատված պետական աջակցություն</td>
              <td>25 %</td>
            </tr>
            <tr>
              <td>Նույն ընտանիքից 2 ուսանող</td>
              <td>Երկու երեխա սովորում են միաժամանակ</td>
              <td>-15 % յուրաքանչյուրից</td>
            </tr>
            <tr>
              <td>Միայնակ ծնող</td>
              <td>Միայնակ ծնող, ամուսնալուծված կարգավիճակով</td>
              <td>-20 %</td>
            </tr>
            <tr>
              <td>Արցախից տեղահանված</td>
              <td>Բնակության կարգավիճակ, փաստաթղթերով վհաստատված</td>
              <td>-30 %</td>
            </tr>
          </tbody>
        </table> <br>
        <p>Անհրաժեշտության հիման վրա տրվող զեղչերը (ԱՀ-ից
          տեղահանված, սոցիալական աջակցություն ստացող, միայնակ
          ծնող) չեն գումարվում միմյանց՝ կիրառվում է միշտ ամենամեծ
          հնարավոր զեղչը:</p>
        <p>Ընտանեկան զեղչերը (երկու երեխա, բազմազավակ ընտանիք)
          կարող են գումարվել անհրաժեշտության հիման վրա տրվող
          զեղչին՝ մինչև ընդհանուր առավելագույն սահմանը:
          Մի մասնակից կարող է ստանալ առավելագույնը 40 %
          ընդհանուր զեղչ:</p> <br>
        <p style="font-size: 20px; font-weight: bold;">*Օրինակ, Արցախից տեղահանված (30 %) + բազմազավակ ընտանիքի 3-րդ
          երեխա (10 %) = 40 %:</p>
        <p style="font-size: 20px; font-weight: bold;">Եթե մասնակիցը և՛ տեղահանված է, և՛ սոցիալական աջակցություն ստացող,
          ապա «ամենամեծ անհրաժեշտության զեղչը» կանոնի համաձայն հաշվի ենք առնում 30%-ը:</p>
      </div>
    </div>
  </div>

  <div id="contact" class="content hidden">
    <div class="contact-section1">
      <div class="contact-section1-content">
        <div class="contact-container">
          <h2>Կապ մեզ հետ</h2>
          <form class="contact-form">
            <div class="form-group">
              <label for="name">Անուն Ազգանուն</label>
              <input type="text" id="name" name="name" placeholder="Գրեք Ձեր անուն ազգանունը" required>
            </div>
            <div class="form-group">
              <label for="email">Էլ․ հասցե</label>
              <input type="email" id="email" name="email" placeholder="Գրեք Ձեր էլ․ հասցեն" required>
            </div>
            <div class="form-group">
              <label for="tel">Հեռախոսահամար</label>
              <input type="tel" id="tel" name="tele" placeholder="Գրեք Ձեր հեռախոսահամարը" required>
            </div>
            <div class="form-group">
              <label for="message">Նամակ</label>
              <textarea id="message" name="message" rows="5" placeholder="Գրեք Ձեր նամակը" required></textarea>
            </div>
            <button type="submit" class="send-button">Ուղարկել</button>
          </form>
        </div>

        <div class="map-section">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3042.7298919049013!2d44.57841347672546!3d40.30395597145789!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x406a9f004613550f%3A0x4059951758e40e7a!2sAmpere!5e0!3m2!1sru!2sam!4v1755958927631!5m2!1sru!2sam" 
          width="600" 
          height="600" 
          style="border:0;" 
          allowfullscreen="" 
          loading="lazy" 
          referrerpolicy="no-referrer-when-downgrade">
        </iframe>
        </div>
      </div>
    </div>

    <div class="contact-section2">
      <div class="contact-section2-content">
        <img src="../icons/instagram.png" class="contact-icons" alt="">
        <img src="../icons/facebook.png" class="contact-icons" alt="">
        <img src="../icons/telegram.png" class="contact-icons" alt="">
        <img src="../icons/phone.png" class="contact-icons" alt="">
      </div>
    </div>
  </div>

  <div id="programs" class="content hidden">
    <div class="programs-section1">
      <div class="programs-section1-content">
        <div class="give-a-chance">
          <h2>Նվիրիր շանս</h2>
          <p>Ծրագրի նպատակն է ստեղծել կայուն մեխանիզմ՝ անապահով, 
            ցածր եկամուտ ունեցող և սոցիալապես խոցելի ընտանիքների երեխաների համար 
            լրացուցիչ տեխնոլոգիական կրթությունը ֆինանսավորելու համար՝ 
            ներգրավելով մասնավոր և կորպորատիվ նվիրատվություններ։</p>
          <button class="cta-button read-more give-a-chance-button">Կարդալ ավելին</button>
        </div>
        <div class="give-a-drone">
          <h2>Նվիրիր ԱԹՍ</h2>
          <p>Տեխնոլոգիական և կրթական նախագծի ստեղծում, որի շրջանակներում Ամպեր դպրոցի աշակերտները 
            հավաքում և ծրագրավորում են անօդաչու թռչող սարք՝ գործարարի կամ ընկերության լրիվ ֆինանսավորմամբ:
            Պատրաստի անօդաչու թռչող սարքը ստանում է հովանավորի անունը և օգտագործվում է...</p>
          <button class="cta-button read-more give-a-drone-button">Կարդալ ավելին</button>
        </div>
      </div>
    </div>
  </div>

  <div id="give-a-chance" class="content hidden">
    <div class="give-a-chance-section1">
      <div class="give-a-chance-section1-content">
        <h1>Ծրագրի նպատակը</h1>
        <p>
          Ծրագրի նպատակն է ստեղծել կայուն մեխանիզմ՝ անապահով, 
          ցածր եկամուտ ունեցող և սոցիալապես խոցելի ընտանիքների երեխաների համար 
          լրացուցիչ տեխնոլոգիական կրթությունը ֆինանսավորելու համար՝ 
          ներգրավելով մասնավոր և կորպորատիվ նվիրատվություններ: <br> 
          Ծրագիրը նպատակ ունի Ամպերի դպրոցում ապահովել ռոբոտաշինության 
          և անօդաչու թռչող սարքերի ոլորտներում կրթական դասընթացների հասանելիություն,
          հոգալ ուսուցման և տեղափոխման ծախսերը, ինչպես նաև կազմակերպել ընտրության,
          աջակցության և հաշվետվությունների թափանցիկ համակարգ՝ բարեգործական նախաձեռնության շրջանակներում:
        </p>
        <h2>Ինչո՞ւ է դա կարեւոր</h2>
        <p>
          • Հայաստանում կան բազմաթիվ տաղանդավոր երեխաներ, բայց նրանցից ոչ բոլորն ունեն որակյալ ՏՏ կրթության հասանելիություն։ <br>
          • ՏՏ ոլորտը զարգանում է, և նման հմտությունները երաշխավորում են կայուն ապագա։ <br>
          • Սրանք պարզապես «դասընթացներ» չեն. սա հնարավորություն է փոխելու ամբողջ ընտանիքի կյանքը։
        </p>
        <h2>Ինչպե՞ս կիմանանք, որ ծրագիրը հաջողված է։</h2>
        <h3>Քանակական չափանիշներ.</h3>
        <p>
          • ՏՏ համալսարաններ ընդունված կամ աշխատանք գտած շրջանավարտների թիվը։ <br>
          • Հավաքագրված միջոցների չափը (օրինակ՝ «1 միլիոն դրամ 3 ամսում»)։ <br>
          • Գործընկերների թիվը (ընկերություններ, ֆոնդեր)։
        </p>
        <h3>Որակական չափանիշներ.</h3>
        <p>
          • Երեխաների և ծնողների արձագանքը («Երեխան ավելի ինքնավստահ է դարձել»): <br>
          • Հաջողակ ուսանողական նախագծեր (օրինակ՝ աշխատող անօդաչու թռչող սարք կամ ռոբոտ): 
        </p>
        <p class="term">
          <b>*Չափանիշ</b> - Չափանիշը մարքեթինգի, վաճառքի և բիզնեսի ընդհանուր արդյունավետությունը գնահատելու ցուցիչ է: 
          Չափանիշները կարող են օգնել ձեզ հասկանալ, օրինակ, թե արդյոք գովազդը շահութաբեր է, 
          քանի նոր հաճախորդ է ընկերությունը ստացել վերջին մեկ ամսվա ընթացքում, և հաճախորդների քանի՞ տոկոսն է կատարում կրկնակի գնումներ:
        </p>
        <h2>Հիմնական նպատակները՝</h2>
        <h3>1. Թիրախային խմբի բացահայտում.</h3>
        <p>
          անապահով, ցածր եկամուտ ունեցող և սոցիալապես անապահով ընտանիքներից
          այն երեխաների հայտնաբերում և ընտրություն, ովքեր աջակցության կարիք ունեն լրացուցիչ կրթություն ստանալու համար։
        </p>
        <p style="margin-left: 30px;">
          • Մենք հարցում ենք անցկացնում (Google Forms)՝ հիմնվելով հետևյալ չափանիշների վրա.
        </p>
        <p style="margin-left: 60px;">
          ◦ Ընտանեկան եկամտի մակարդակ (տեղեկանք սոցիալական ծառայություններից): <br>
          ◦ Երեխայի հետաքրքրությունը տեղեկատվական տեխնոլոգիաների/ռոբոտաշինության նկատմամբ (մոտիվացիոն հարցազրույց):
        </p>
        <p style="margin-left: 30px;">
          • Համագործակցություն հիմնադրամների հետ (Այբ, Հայաստանի մանուկներ) տվյալների ստուգման համար։
        </p>
        <p style="margin-left: 30px;">
          • Ընդունելության չափանիշներ․
        </p>
        <p style="margin-left: 60px;">
          ◦ Տարիք՝ 8–18 տարեկան (բաժանված խմբերի): <br>
          ◦ Առաջնահերթություն՝ ցածր եկամուտ ունեցող/մեծ ընտանիքների երեխաներ:
        </p>
      </div>
    </div>
  </div>

  <div class="footer">
    <div class="footer-container">
      <div class="footer-left">
        <img src="../icons/ampere-removebg-preview.png" class="footer-logo">
        <p>© 2025 Ampere. Բոլոր իրավունքները պաշտպանված են։</p>
      </div>
      <div class="footer-center">
        <div class="footer-center-left">
          <a href="#home">Գլխավոր</a>
          <a href="#courses">Դասընթացներ</a>
          <a href="#programs">Ծրագրեր</a>
          <a href="#3d">3D շրջագայություն</a>
        </div>
        <div class="footer-center-right">
          <a href="#donate">Նվիրատվություն</a>
          <a href="#contact">Կապ մեզ հետ</a>
          <a href="#about-us">Մեր մասին</a>
        </div>
      </div>
      <div class="footer-right">
        <div class="footer-right-top">
          <div class="address">
            <img class="information-icon" src="../icons/gps.png">
            <p>Կոտայք, Նոր Հաճըն, Տոռոզյան 27</p>
          </div>
          <div class="call">
            <img class="information-icon" src="../icons/phone-call.png">
            <p>+374 99 833 311</p>
          </div>
          <div class="mail">
            <img class="information-icon" src="../icons/email.png">
            <p>ampere@ampere.am</p>
          </div>
        </div>

        <div class="footer-right-bottom">
          <img src="../icons/instagram.png" class="footer-icons" alt="">
          <img src="../icons/facebook.png" class="footer-icons" alt="">
          <img src="../icons/telegram.png" class="footer-icons" alt="">
          <img src="../icons/phone.png" class="footer-icons" alt="">
        </div>
      </div>
    </div>
  </div>
  
  <script src="index.js"></script>
</body>

</html>